<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="http://feeds.feedburner.com/MoonshineDevCoWebLog" />
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet" />
    <link href="/css/syntax.css" type="text/css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Muli|Caudex&subset=latin&v2' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35450393-1']);
      _gaq.push(['_setDomainName', 'moonshinedev.co']);
      _gaq.push(['_trackPageview']);
      
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <meta property="ob:experiment-group" content="Front Page" />
  </head>
  <body>
    <a href="http://github.com/moonshinedevco"><img style="margin: 0px; position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
    <div id="header">
      <div id="search">
	<form>
	  <input type="text" id="st-search-input" class="st-search-input" />
	</form>
	<div id="st-results-container"></div>
	<script type="text/javascript">
	  var Swiftype = window.Swiftype || {};
	  (function() {
	  Swiftype.key = 'uEYtzab81sHB5v4uxsL5';
	  Swiftype.inputElement = '#st-search-input';
	  Swiftype.resultContainingElement = '#st-results-container';
	  Swiftype.attachElement = '#st-search-input';
	  Swiftype.renderStyle = "overlay";
	  
	  var script = document.createElement('script');
	  script.type = 'text/javascript';
	  script.async = true;
	  script.src = "//swiftype.com/embed.js";
	  var entry = document.getElementsByTagName('script')[0];
	  entry.parentNode.insertBefore(script, entry);
	  }());
	</script>
      </div>
      <div><a href="/">Moonshinedevco</a></div>
      <div id="menu">
	<ul>
	  <li><a href="/">blog</a></li>
	</ul>
      </div>
    </div>
    <div id="content">
      {{ content}}
    </div>
    <div id="footer">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
	<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" />
      </a>
    </div>
    <script type="text/javascript">
      var disqus_shortname = 'moonshinedevco';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = 'http://disqus.com/forums/moonshinedevco/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
  </body>
</html>
