---
layout: base
---
<h1>{{page.title}}</h1>
<span id="date">Posted {{ page.date | date_to_string }}{% include tags.markdown %}and has <a href="{{ page.url }}#disqus_thread">Comments</a></span>
  {{ content }}

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f9ef9c6428ae205"></script>
<!-- AddThis Button END -->

<div id="disqus_thread"></div>
<script type="text/javascript">
  //var disqus_developer = 1;
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://findingscience.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>

<script type="text/javascript">
  _veroq.push(['track', 'viewed_post', {title: "{{page.title}}" }]);
</script>
